
vtorcs-RL-color/config\.log

vtorcs-RL-color/export/drivers/berniw/berniw\.so

vtorcs-RL-color/export/drivers/berniw2/berniw2\.so

vtorcs-RL-color/export/drivers/berniw3/berniw3\.so

vtorcs-RL-color/export/drivers/bt/bt\.so

vtorcs-RL-color/export/drivers/damned/damned\.so

vtorcs-RL-color/export/drivers/human/human\.so

vtorcs-RL-color/export/drivers/img_server/img_server\.so

vtorcs-RL-color/export/drivers/inferno/inferno\.so

vtorcs-RL-color/export/drivers/inferno2/inferno2\.so

vtorcs-RL-color/export/drivers/lliaw/lliaw\.so

vtorcs-RL-color/export/drivers/olethros/olethros\.so

vtorcs-RL-color/export/drivers/scr_server/scr_server\.so

vtorcs-RL-color/export/drivers/sparkle/sparkle\.so

vtorcs-RL-color/export/drivers/tita/tita\.so

vtorcs-RL-color/export/include/3D/Basic\.h

vtorcs-RL-color/export/include/3D/Matrix\.h

vtorcs-RL-color/export/include/3D/Point\.h

vtorcs-RL-color/export/include/3D/Quaternion\.h

vtorcs-RL-color/export/include/3D/Tuple3\.h

vtorcs-RL-color/export/include/3D/Tuple4\.h

vtorcs-RL-color/export/include/3D/Vector\.h

vtorcs-RL-color/export/include/car\.h

vtorcs-RL-color/export/include/client\.h

vtorcs-RL-color/export/include/confscreens\.h

vtorcs-RL-color/export/include/controlconfig\.h

vtorcs-RL-color/export/include/driverconfig\.h

vtorcs-RL-color/export/include/exitmenu\.h

vtorcs-RL-color/export/include/glfeatures\.h

vtorcs-RL-color/export/include/graphconfig\.h

vtorcs-RL-color/export/include/graphic\.h

vtorcs-RL-color/export/include/joystickconfig\.h

vtorcs-RL-color/export/include/js\.h

vtorcs-RL-color/export/include/learning/ann_policy\.h

vtorcs-RL-color/export/include/learning/ANN\.h

vtorcs-RL-color/export/include/learning/Distribution\.h

vtorcs-RL-color/export/include/learning/learn_debug\.h

vtorcs-RL-color/export/include/learning/List\.h

vtorcs-RL-color/export/include/learning/MathFunctions\.h

vtorcs-RL-color/export/include/learning/policy\.h

vtorcs-RL-color/export/include/learning/real\.h

vtorcs-RL-color/export/include/learning/string_utils\.h

vtorcs-RL-color/export/include/mouseconfig\.h

vtorcs-RL-color/export/include/openglconfig\.h

vtorcs-RL-color/export/include/os\.h

vtorcs-RL-color/export/include/osspec\.h

vtorcs-RL-color/export/include/playerpref\.h

vtorcs-RL-color/export/include/portability\.h

vtorcs-RL-color/export/include/raceinit\.h

vtorcs-RL-color/export/include/raceman\.h

vtorcs-RL-color/export/include/racescreens\.h

vtorcs-RL-color/export/include/replay\.h

vtorcs-RL-color/export/include/robot\.h

vtorcs-RL-color/export/include/robottools\.h

vtorcs-RL-color/export/include/screen_properties\.h

vtorcs-RL-color/export/include/simu\.h

vtorcs-RL-color/export/include/simuconfig\.h

vtorcs-RL-color/export/include/singleplayer\.h

vtorcs-RL-color/export/include/SOLID/solid\.h

vtorcs-RL-color/export/include/soundconfig\.h

vtorcs-RL-color/export/include/telemetry\.h

vtorcs-RL-color/export/include/tgf\.h

vtorcs-RL-color/export/include/tgfclient\.h

vtorcs-RL-color/export/include/tmath/linalg_t\.h

vtorcs-RL-color/export/include/tmath/straight2_t\.h

vtorcs-RL-color/export/include/tmath/v2_t\.h

vtorcs-RL-color/export/include/tmath/v3_t\.h

vtorcs-RL-color/export/include/tmath/v4_t\.h

vtorcs-RL-color/export/include/track\.h

vtorcs-RL-color/export/include/xml\.h

vtorcs-RL-color/export/include/xmlparse\.h

vtorcs-RL-color/export/lib/libclient\.so

vtorcs-RL-color/export/lib/libconfscreens\.so

vtorcs-RL-color/export/lib/liblearning\.so

vtorcs-RL-color/export/lib/libraceengine\.so

vtorcs-RL-color/export/lib/libracescreens\.so

vtorcs-RL-color/export/lib/librobottools\.so

vtorcs-RL-color/export/lib/libsolid\.a

vtorcs-RL-color/export/lib/libtgf\.so

vtorcs-RL-color/export/lib/libtgfclient\.so

vtorcs-RL-color/export/lib/libtxml\.so

vtorcs-RL-color/export/modules/graphic/ssggraph\.so

vtorcs-RL-color/export/modules/simu/simuv2\.so

vtorcs-RL-color/export/modules/telemetry/telemetry\.so

vtorcs-RL-color/export/modules/track/track\.so

vtorcs-RL-color/src/doc/torcsdoc\.conf

vtorcs-RL-color/src/drivers/berniw/\.depend

vtorcs-RL-color/src/drivers/berniw/berniw\.o

vtorcs-RL-color/src/drivers/berniw/berniw\.so

vtorcs-RL-color/src/drivers/berniw/mycar\.o

vtorcs-RL-color/src/drivers/berniw/pathfinder\.o

vtorcs-RL-color/src/drivers/berniw/spline\.o

vtorcs-RL-color/src/drivers/berniw/trackdesc\.o

vtorcs-RL-color/src/drivers/berniw2/\.depend

vtorcs-RL-color/src/drivers/berniw2/berniw2\.o

vtorcs-RL-color/src/drivers/berniw2/berniw2\.so

vtorcs-RL-color/src/drivers/berniw2/mycar\.o

vtorcs-RL-color/src/drivers/berniw2/pathfinder\.o

vtorcs-RL-color/src/drivers/berniw2/spline\.o

vtorcs-RL-color/src/drivers/berniw2/trackdesc\.o

vtorcs-RL-color/src/drivers/berniw3/\.depend

vtorcs-RL-color/src/drivers/berniw3/berniw3\.o

vtorcs-RL-color/src/drivers/berniw3/berniw3\.so

vtorcs-RL-color/src/drivers/berniw3/mycar\.o

vtorcs-RL-color/src/drivers/berniw3/pathfinder\.o

vtorcs-RL-color/src/drivers/berniw3/spline\.o

vtorcs-RL-color/src/drivers/berniw3/trackdesc\.o

vtorcs-RL-color/src/drivers/bt/\.depend

vtorcs-RL-color/src/drivers/bt/bt\.o

vtorcs-RL-color/src/drivers/bt/bt\.so

vtorcs-RL-color/src/drivers/bt/cardata\.o

vtorcs-RL-color/src/drivers/bt/driver\.o

vtorcs-RL-color/src/drivers/bt/learn\.o

vtorcs-RL-color/src/drivers/bt/opponent\.o

vtorcs-RL-color/src/drivers/bt/pit\.o

vtorcs-RL-color/src/drivers/bt/spline\.o

vtorcs-RL-color/src/drivers/bt/strategy\.o

vtorcs-RL-color/src/drivers/damned/\.depend

vtorcs-RL-color/src/drivers/damned/cardata\.o

vtorcs-RL-color/src/drivers/damned/damned\.o

vtorcs-RL-color/src/drivers/damned/damned\.so

vtorcs-RL-color/src/drivers/damned/driver\.o

vtorcs-RL-color/src/drivers/damned/learn\.o

vtorcs-RL-color/src/drivers/damned/opponent\.o

vtorcs-RL-color/src/drivers/damned/pit\.o

vtorcs-RL-color/src/drivers/damned/spline\.o

vtorcs-RL-color/src/drivers/damned/strategy\.o

vtorcs-RL-color/src/drivers/human/\.depend

vtorcs-RL-color/src/drivers/human/human\.o

vtorcs-RL-color/src/drivers/human/human\.so

vtorcs-RL-color/src/drivers/human/pref\.o

vtorcs-RL-color/src/drivers/img_server/\.depend

vtorcs-RL-color/src/drivers/img_server/driver\.o

vtorcs-RL-color/src/drivers/img_server/img_server\.o

vtorcs-RL-color/src/drivers/img_server/img_server\.so

vtorcs-RL-color/src/drivers/inferno/\.depend

vtorcs-RL-color/src/drivers/inferno/inferno\.o

vtorcs-RL-color/src/drivers/inferno/inferno\.so

vtorcs-RL-color/src/drivers/inferno/mycar\.o

vtorcs-RL-color/src/drivers/inferno/pathfinder\.o

vtorcs-RL-color/src/drivers/inferno/spline\.o

vtorcs-RL-color/src/drivers/inferno/trackdesc\.o

vtorcs-RL-color/src/drivers/inferno2/\.depend

vtorcs-RL-color/src/drivers/inferno2/common\.o

vtorcs-RL-color/src/drivers/inferno2/inferno2\.o

vtorcs-RL-color/src/drivers/inferno2/inferno2\.so

vtorcs-RL-color/src/drivers/lliaw/\.depend

vtorcs-RL-color/src/drivers/lliaw/lliaw\.o

vtorcs-RL-color/src/drivers/lliaw/lliaw\.so

vtorcs-RL-color/src/drivers/lliaw/mycar\.o

vtorcs-RL-color/src/drivers/lliaw/pathfinder\.o

vtorcs-RL-color/src/drivers/lliaw/spline\.o

vtorcs-RL-color/src/drivers/lliaw/trackdesc\.o

vtorcs-RL-color/src/drivers/olethros/\.depend

vtorcs-RL-color/src/drivers/olethros/cardata\.o

vtorcs-RL-color/src/drivers/olethros/driver\.o

vtorcs-RL-color/src/drivers/olethros/geometry\.o

vtorcs-RL-color/src/drivers/olethros/learn\.o

vtorcs-RL-color/src/drivers/olethros/olethros\.o

vtorcs-RL-color/src/drivers/olethros/olethros\.so

vtorcs-RL-color/src/drivers/olethros/opponent\.o

vtorcs-RL-color/src/drivers/olethros/pit\.o

vtorcs-RL-color/src/drivers/olethros/spline\.o

vtorcs-RL-color/src/drivers/olethros/strategy\.o

vtorcs-RL-color/src/drivers/olethros/TrackData\.o

vtorcs-RL-color/src/drivers/olethros/Trajectory\.o

vtorcs-RL-color/src/drivers/scr_server/\.depend

vtorcs-RL-color/src/drivers/scr_server/CarControl\.o

vtorcs-RL-color/src/drivers/scr_server/mycar\.o

vtorcs-RL-color/src/drivers/scr_server/ObstacleSensors\.o

vtorcs-RL-color/src/drivers/scr_server/pathfinder\.o

vtorcs-RL-color/src/drivers/scr_server/scr_server\.o

vtorcs-RL-color/src/drivers/scr_server/scr_server\.so

vtorcs-RL-color/src/drivers/scr_server/sensors\.o

vtorcs-RL-color/src/drivers/scr_server/SimpleParser\.o

vtorcs-RL-color/src/drivers/scr_server/spline\.o

vtorcs-RL-color/src/drivers/scr_server/trackdesc\.o

vtorcs-RL-color/src/drivers/sparkle/\.depend

vtorcs-RL-color/src/drivers/sparkle/driver\.o

vtorcs-RL-color/src/drivers/sparkle/opponent\.o

vtorcs-RL-color/src/drivers/sparkle/pit\.o

vtorcs-RL-color/src/drivers/sparkle/sparkle\.o

vtorcs-RL-color/src/drivers/sparkle/sparkle\.so

vtorcs-RL-color/src/drivers/sparkle/spline\.o

vtorcs-RL-color/src/drivers/tita/\.depend

vtorcs-RL-color/src/drivers/tita/mycar\.o

vtorcs-RL-color/src/drivers/tita/pathfinder\.o

vtorcs-RL-color/src/drivers/tita/spline\.o

vtorcs-RL-color/src/drivers/tita/tita\.o

vtorcs-RL-color/src/drivers/tita/tita\.so

vtorcs-RL-color/src/drivers/tita/trackdesc\.o

vtorcs-RL-color/src/libs/client/\.depend

vtorcs-RL-color/src/libs/client/entry\.o

vtorcs-RL-color/src/libs/client/exitmenu\.o

vtorcs-RL-color/src/libs/client/libclient\.so

vtorcs-RL-color/src/libs/client/mainmenu\.o

vtorcs-RL-color/src/libs/client/optionmenu\.o

vtorcs-RL-color/src/libs/client/splash\.o

vtorcs-RL-color/src/libs/confscreens/\.depend

vtorcs-RL-color/src/libs/confscreens/controlconfig\.o

vtorcs-RL-color/src/libs/confscreens/driverconfig\.o

vtorcs-RL-color/src/libs/confscreens/graphconfig\.o

vtorcs-RL-color/src/libs/confscreens/joystickconfig\.o

vtorcs-RL-color/src/libs/confscreens/libconfscreens\.so

vtorcs-RL-color/src/libs/confscreens/mouseconfig\.o

vtorcs-RL-color/src/libs/confscreens/openglconfig\.o

vtorcs-RL-color/src/libs/confscreens/simuconfig\.o

vtorcs-RL-color/src/libs/confscreens/soundconfig\.o

vtorcs-RL-color/src/libs/learning/\.depend

vtorcs-RL-color/src/libs/learning/ann_policy\.o

vtorcs-RL-color/src/libs/learning/ANN\.o

vtorcs-RL-color/src/libs/learning/Distribution\.o

vtorcs-RL-color/src/libs/learning/liblearning\.so

vtorcs-RL-color/src/libs/learning/List\.o

vtorcs-RL-color/src/libs/learning/MathFunctions\.o

vtorcs-RL-color/src/libs/learning/policy\.o

vtorcs-RL-color/src/libs/learning/string_utils\.o

vtorcs-RL-color/src/libs/raceengineclient/\.depend

vtorcs-RL-color/src/libs/raceengineclient/libraceengine\.so

vtorcs-RL-color/src/libs/raceengineclient/raceengine\.o

vtorcs-RL-color/src/libs/raceengineclient/racegl\.o

vtorcs-RL-color/src/libs/raceengineclient/raceinit\.o

vtorcs-RL-color/src/libs/raceengineclient/racemain\.o

vtorcs-RL-color/src/libs/raceengineclient/racemanmenu\.o

vtorcs-RL-color/src/libs/raceengineclient/raceresults\.o

vtorcs-RL-color/src/libs/raceengineclient/racestate\.o

vtorcs-RL-color/src/libs/raceengineclient/singleplayer\.o

vtorcs-RL-color/src/libs/racescreens/\.depend

vtorcs-RL-color/src/libs/racescreens/driverselect\.o

vtorcs-RL-color/src/libs/racescreens/fileselect\.o

vtorcs-RL-color/src/libs/racescreens/libracescreens\.so

vtorcs-RL-color/src/libs/racescreens/loadingscreen\.o

vtorcs-RL-color/src/libs/racescreens/miscscreens\.o

vtorcs-RL-color/src/libs/racescreens/pitmenu\.o

vtorcs-RL-color/src/libs/racescreens/racemenu\.o

vtorcs-RL-color/src/libs/racescreens/results\.o

vtorcs-RL-color/src/libs/racescreens/trackselect\.o

vtorcs-RL-color/src/libs/robottools/\.depend

vtorcs-RL-color/src/libs/robottools/librobottools\.so

vtorcs-RL-color/src/libs/robottools/rttelem\.o

vtorcs-RL-color/src/libs/robottools/rttrack\.o

vtorcs-RL-color/src/libs/tgf/\.depend

vtorcs-RL-color/src/libs/tgf/directory\.o

vtorcs-RL-color/src/libs/tgf/hash\.o

vtorcs-RL-color/src/libs/tgf/libtgf\.so

vtorcs-RL-color/src/libs/tgf/module\.o

vtorcs-RL-color/src/libs/tgf/os\.o

vtorcs-RL-color/src/libs/tgf/params\.o

vtorcs-RL-color/src/libs/tgf/profiler\.o

vtorcs-RL-color/src/libs/tgf/tgf\.o

vtorcs-RL-color/src/libs/tgf/trace\.o

vtorcs-RL-color/src/libs/tgfclient/\.depend

vtorcs-RL-color/src/libs/tgfclient/control\.o

vtorcs-RL-color/src/libs/tgfclient/fg_gm\.o

vtorcs-RL-color/src/libs/tgfclient/glfeatures\.o

vtorcs-RL-color/src/libs/tgfclient/gui\.o

vtorcs-RL-color/src/libs/tgfclient/guibutton\.o

vtorcs-RL-color/src/libs/tgfclient/guiedit\.o

vtorcs-RL-color/src/libs/tgfclient/guifont\.o

vtorcs-RL-color/src/libs/tgfclient/guihelp\.o

vtorcs-RL-color/src/libs/tgfclient/guiimage\.o

vtorcs-RL-color/src/libs/tgfclient/guilabel\.o

vtorcs-RL-color/src/libs/tgfclient/guimenu\.o

vtorcs-RL-color/src/libs/tgfclient/guiobject\.o

vtorcs-RL-color/src/libs/tgfclient/guiscrollbar\.o

vtorcs-RL-color/src/libs/tgfclient/guiscrollist\.o

vtorcs-RL-color/src/libs/tgfclient/img\.o

vtorcs-RL-color/src/libs/tgfclient/libtgfclient\.so

vtorcs-RL-color/src/libs/tgfclient/screen\.o

vtorcs-RL-color/src/libs/tgfclient/tgfclient\.o

vtorcs-RL-color/src/libs/txml/\.depend

vtorcs-RL-color/src/libs/txml/gennmtab/gennmtab

vtorcs-RL-color/src/libs/txml/gennmtab/gennmtab\.o

vtorcs-RL-color/src/libs/txml/hashtable\.o

vtorcs-RL-color/src/libs/txml/libtxml\.so

vtorcs-RL-color/src/libs/txml/xml\.o

vtorcs-RL-color/src/libs/txml/xmlparse\.o

vtorcs-RL-color/src/libs/txml/xmlrole\.o

vtorcs-RL-color/src/libs/txml/xmltok\.o

vtorcs-RL-color/src/linux/\.depend

vtorcs-RL-color/src/linux/linuxspec\.o

vtorcs-RL-color/src/linux/main\.o

vtorcs-RL-color/src/linux/torcs-bin

vtorcs-RL-color/src/modules/graphic/ssggraph/\.depend

vtorcs-RL-color/src/modules/graphic/ssggraph/CarSoundData\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/grboard\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/grcam\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/grcar\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/grcarlight\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/grloadac\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/grmain\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/grmultitexstate\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/grscene\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/grscreen\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/grshadow\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/grskidmarks\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/grsmoke\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/grsound\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/grtexture\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/grtrackmap\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/grutil\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/grvtxtable\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/OpenalSoundInterface\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/PlibSoundInterface\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/SoundInterface\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/ssggraph\.o

vtorcs-RL-color/src/modules/graphic/ssggraph/ssggraph\.so

vtorcs-RL-color/src/modules/graphic/ssggraph/TorcsSound\.o

vtorcs-RL-color/src/modules/simu/simuv2/\.depend

vtorcs-RL-color/src/modules/simu/simuv2/aero\.o

vtorcs-RL-color/src/modules/simu/simuv2/axle\.o

vtorcs-RL-color/src/modules/simu/simuv2/brake\.o

vtorcs-RL-color/src/modules/simu/simuv2/car\.o

vtorcs-RL-color/src/modules/simu/simuv2/categories\.o

vtorcs-RL-color/src/modules/simu/simuv2/collide\.o

vtorcs-RL-color/src/modules/simu/simuv2/differential\.o

vtorcs-RL-color/src/modules/simu/simuv2/engine\.o

vtorcs-RL-color/src/modules/simu/simuv2/simu\.o

vtorcs-RL-color/src/modules/simu/simuv2/simuitf\.o

vtorcs-RL-color/src/modules/simu/simuv2/simuv2\.so

vtorcs-RL-color/src/modules/simu/simuv2/SOLID-2\.0/src/\.depend

vtorcs-RL-color/src/modules/simu/simuv2/SOLID-2\.0/src/BBoxTree\.o

vtorcs-RL-color/src/modules/simu/simuv2/SOLID-2\.0/src/Box\.o

vtorcs-RL-color/src/modules/simu/simuv2/SOLID-2\.0/src/C-api\.o

vtorcs-RL-color/src/modules/simu/simuv2/SOLID-2\.0/src/Complex\.o

vtorcs-RL-color/src/modules/simu/simuv2/SOLID-2\.0/src/Cone\.o

vtorcs-RL-color/src/modules/simu/simuv2/SOLID-2\.0/src/Convex\.o

vtorcs-RL-color/src/modules/simu/simuv2/SOLID-2\.0/src/Cylinder\.o

vtorcs-RL-color/src/modules/simu/simuv2/SOLID-2\.0/src/Endpoint\.o

vtorcs-RL-color/src/modules/simu/simuv2/SOLID-2\.0/src/libsolid\.a

vtorcs-RL-color/src/modules/simu/simuv2/SOLID-2\.0/src/Object\.o

vtorcs-RL-color/src/modules/simu/simuv2/SOLID-2\.0/src/Polygon\.o

vtorcs-RL-color/src/modules/simu/simuv2/SOLID-2\.0/src/Polyhedron\.o

vtorcs-RL-color/src/modules/simu/simuv2/SOLID-2\.0/src/Response\.o

vtorcs-RL-color/src/modules/simu/simuv2/SOLID-2\.0/src/RespTable\.o

vtorcs-RL-color/src/modules/simu/simuv2/SOLID-2\.0/src/Simplex\.o

vtorcs-RL-color/src/modules/simu/simuv2/SOLID-2\.0/src/Sphere\.o

vtorcs-RL-color/src/modules/simu/simuv2/SOLID-2\.0/src/Transform\.o

vtorcs-RL-color/src/modules/simu/simuv2/steer\.o

vtorcs-RL-color/src/modules/simu/simuv2/susp\.o

vtorcs-RL-color/src/modules/simu/simuv2/transmission\.o

vtorcs-RL-color/src/modules/simu/simuv2/wheel\.o

vtorcs-RL-color/src/modules/telemetry/\.depend

vtorcs-RL-color/src/modules/telemetry/telemetry\.o

vtorcs-RL-color/src/modules/telemetry/telemetry\.so

vtorcs-RL-color/src/modules/telemetry/telemetryitf\.o

vtorcs-RL-color/src/modules/track/\.depend

vtorcs-RL-color/src/modules/track/track\.o

vtorcs-RL-color/src/modules/track/track\.so

vtorcs-RL-color/src/modules/track/track3\.o

vtorcs-RL-color/src/modules/track/track4\.o

vtorcs-RL-color/src/modules/track/trackitf\.o

vtorcs-RL-color/src/modules/track/trackutil\.o

vtorcs-RL-color/src/tools/accc/\.depend

vtorcs-RL-color/src/tools/accc/ac3dgroup\.o

vtorcs-RL-color/src/tools/accc/ac3dload\.o

vtorcs-RL-color/src/tools/accc/accc-bin

vtorcs-RL-color/src/tools/accc/mainaccc\.o

vtorcs-RL-color/src/tools/nfs2ac/mainnfs2ac\.o

vtorcs-RL-color/src/tools/nfs2ac/nfs2ac-bin

vtorcs-RL-color/src/tools/nfsperf/\.depend

vtorcs-RL-color/src/tools/nfsperf/mainnfsperf\.o

vtorcs-RL-color/src/tools/nfsperf/nfsperf-bin

vtorcs-RL-color/src/tools/package/specfiles/torcs-data-cars-extra\.spec

vtorcs-RL-color/config\.status

vtorcs-RL-color/\.torcs\.rc

vtorcs-RL-color/src/tools/package/specfiles/torcs-data-cars-kcendra-gt\.spec

vtorcs-RL-color/src/tools/package/specfiles/torcs-data-cars-kcendra-roadsters\.spec

vtorcs-RL-color/src/tools/package/specfiles/torcs-data-cars-kcendra-sport\.spec

vtorcs-RL-color/src/tools/package/specfiles/torcs-data-cars-Patwo-Design\.spec

vtorcs-RL-color/src/tools/package/specfiles/torcs-data-tracks-base\.spec

vtorcs-RL-color/src/tools/package/specfiles/torcs-data\.spec

vtorcs-RL-color/src/tools/package/specfiles/torcs-robot-base\.spec

vtorcs-RL-color/src/tools/package/specfiles/torcs-robot-K1999\.spec

vtorcs-RL-color/src/tools/package/specfiles/torcs\.spec

\.idea/encodings\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/torcs_rl\.iml

\.idea/vcs\.xml

\.idea/workspace\.xml

vtorcs-RL-color/src/tools/texmapper/\.depend

vtorcs-RL-color/src/tools/texmapper/maintexmapper\.o

vtorcs-RL-color/src/tools/texmapper/ssgSaveAC\.o

vtorcs-RL-color/src/tools/texmapper/texmapper-bin

vtorcs-RL-color/src/tools/trackgen/\.depend

vtorcs-RL-color/src/tools/trackgen/ac3d\.o

vtorcs-RL-color/src/tools/trackgen/easymesh\.o

vtorcs-RL-color/src/tools/trackgen/elevation\.o

vtorcs-RL-color/src/tools/trackgen/maintrackgen\.o

vtorcs-RL-color/src/tools/trackgen/objects\.o

vtorcs-RL-color/src/tools/trackgen/relief\.o

vtorcs-RL-color/src/tools/trackgen/track\.o

vtorcs-RL-color/src/tools/trackgen/trackgen-bin

vtorcs-RL-color/src/tools/trackgen/util\.o

*.pyc
